#!/bin/env bash

zenity --info --text  '<span foreground="red" font="18"><b><i>Rstudio</i></b> is starting up.\nPlease allow up to a couple of minutes to load.\nThank you for your patience</span>' &
module load <%= context.rstudio_version %>
module load <%= context.r_version %>
<%- if !context.rlibs.blank? -%>
export R_LIBS_USER=<%= context.rlibs %>:$R_LIBS_USER
<%- end -%>
rstudio &
